<h1>Note list</h1>
<hr>
<button class="btn btn-primary" data-toggle="modal" data-target="#add-note" ng-click="vm.note.title = ''; vm.note.text = '';">Add <span class="glyphicon glyphicon-plus"></span></button><br><br>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="note in vm.notes | reverse">
    {{ note.title }} - {{ note.text }} &nbsp;
    <span class="pull-right">
      <button class="btn btn-primary btn-xs" ng-click="vm.transfer(note)"><span class="glyphicon glyphicon-transfer"></span></button>&nbsp;
      <button class="btn btn-warning btn-xs" ng-click="vm.edit(note)" data-toggle="modal" data-target="#edit-note"><span class="glyphicon glyphicon-edit"></span></button>&nbsp;
      <button class="btn btn-danger btn-xs" ng-click="vm.delete(note)"><span class="glyphicon glyphicon-trash"></span></button>
    </span>
  </li>
</ul>
<!-- Add Modal -->
<div class="modal fade" id="add-note" tabindex="-1" role="dialog" aria-labelledby="addModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" name="addItem" class="form-horizontal" role="form" ng-submit="vm.add()" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="addModal">Add Note</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Title:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" autocomplete="off" ng-model="vm.note.title" required/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Text:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="text" autocomplete="off" ng-model="vm.note.text"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Submit</button>
          <i ng-show="vm.loading" class="fa fa-spinner fa-spin"></i>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="edit-note" tabindex="-1" role="dialog" aria-labelledby="editModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" name="editItem" class="form-horizontal" role="form" ng-submit="vm.saveEdit()" novalidate>
        <input ng-model="vm.form.id" type="hidden"/>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="editModal">Edit Note</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Title:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" autocomplete="off" ng-model="vm.form.title" required/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Text:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="text" autocomplete="off" ng-model="vm.form.text">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" ng-disabled="editItem.$invalid" class="btn btn-primary">Submit</button>
          <i ng-show="vm.loading" class="fa fa-spinner fa-spin"></i>
        </div>
      </form>
    </div>
  </div>
</div>
